[submodule "corestack"]
	path = deps/corestack
	url = https://github.com/minh-cv/corestack.git
[submodule "deps/cjson"]
	path = deps/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "deps/jansson"]
	path = deps/jansson
	url = https://github.com/akheron/jansson.git
